*{
   box-sizing: border-box;
}

 body{
   height: 100vh;
   font-family: sans-serif;
   align-items: center;
   justify-content: center;
   overflow: hidden; 
   display: flex;
   margin: 0;
}

.bg{
   background: url(/image/1\ \(9\).jpg);
   position: absolute;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   top: -30px;
   left: -30px;
   width: calc(100vw + 60px);
   height: calc(100vh + 60px );
   z-index: -1;
   filter: blur(0px);
}

.loading-text{
   font-size: 50px;
   color: #fff;
}

